<form method="post" action="{{ path('question_delete', {'id': question.id}) }}" onsubmit="return confirm('Jeste li sigurni da želite obrisati ovaj upit?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn btn-danger">Obriši</button>
</form>
