{% extends 'base.html.twig' %}

{% block title %}/pehape{% endblock %}

{% block body %}

    {% for article in articles %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ article.description }}</h6>
                <p class="card-text">{{ article.body|u.truncate(200, '...') }}</p>
                <a href="{{ path('article_show', { id : article.id }) }}">Vidi članak</a>
            </div>
        </div>
    {% else %}
        Još nema članaka
    {% endfor %}

{% endblock %}
